<div class="row border " id="container">
  <div class="column-1 col-12 col-md-7">
    <div class="container">
      <h5 class="font-weight-bolder">CREATE ACCOUNT</h5>
      <p>Fill out the form below to create an account</p>
      <form [formGroup]="form" class="form-group" (submit)="onSubmitHandler()">
        <div class="d-md-flex flex-row d-sm-block">
          <div class="form-group-1 mr-0 mr-md-2 mt-1">
            <div class="font-weight-bold">FIRST NAME *:</div>
            <input type="text" class="controller" placeholder="FIRST NAME" formControlName="firstname"
              (change)="onchangehandler()"
              [class.my-invalid]="form.get('firstname').invalid&&form.get('firstname').touched||isFirstnameFilled==false">
          </div>
          <div class="form-group-1 ml-0 ml-md-2 mt-1">
            <div class="font-weight-bold">LAST NAME *:</div>
            <input type="text" class="controller" placeholder="LAST NAME" formControlName="lastname"
              (change)="onchangehandler()"
              [class.my-invalid]="form.get('lastname').invalid&&form.get('lastname').touched ||isLastnameFilled==false">
          </div>
        </div>
        <div class="form-group  mt-3">
          <div class="font-weight-bold">EMAIL ADDRESS *:</div>
          <input type="email" class="controller" placeholder="EMAIL ADDRESS" formControlName="email"
            [class.my-invalid]="(form.get('email').touched&&form.get('email').invalid)||isEmailFilled==false"
            [class.my-invalidpattern]="isInvalidEmail" (change)="onchangehandler()">
        </div>
        <div class="d-md-flex flex-row d-sm-block">
          <div class="form-group-1 mr-0 mr-md-2 mt-1">
            <div class="font-weight-bold">TELEPHONE:</div>
            <input type="text" class="controller" placeholder="TELEPHONE" formControlName="phone">
          </div>
          <div class="form-group-1 ml-0 ml-md-2 mt-1">
            <div class="font-weight-bold">GENDER:</div>
            <select class="controller" formControlName="gender">
              <option *ngFor="let gender of genders">{{gender}}</option>
            </select>
          </div>
        </div>
        <div class="mt-3 font-weight-bold">BIRTHDAY:</div>
        <div class="d-md-flex flex-row d-sm-block">
          <div class="form-group-2 ml-0 ml-md-2 mt-1">
            <select class="controller" formControlName="day">
              <option *ngFor="let day of days">{{day}}</option>
            </select>
          </div>
          <div class="form-group-2 ml-0 ml-md-2 mt-1">
            <select class="controller" formControlName="month">
              <option *ngFor="let month of months">{{month}}</option>
            </select>
          </div>
          <div class="form-group-2  mr-0 ml-md-2 mt-1">
            <select class="controller" formControlName="year">
              <option *ngFor="let year of yearsRange()">{{year}}</option>
            </select>
          </div>
        </div>
        <div class="form-group mr-0 mr-md-2 mt-4">
          <input type="checkbox" formControlName="agreement_1"
            [class.my-invalid]="form.get('agreement_1').invalid&&form.get('agreement_1').touched">
          <span class="ml-2">I wish to receive the latest news and exclusive discounts by receiving Angubetta Marketing
            emails</span>
        </div>
        <div class="d-md-flex flex-row d-sm-block">
          <div class="form-group-1 mr-0 mr-md-2 mt-2">
            <div class="font-weight-bold">CREATE PASSWORD *:</div>
            <input type="password" class="controller" placeholder="CREATE PASSWORD" formControlName="password"
              (change)="onchangehandler()"
              [class.my-invalid]="form.get('password').invalid&&form.get('password').touched ||isPasswordFilled==false||isPasswordMatched==false">
          </div>
          <div class="form-group-1 ml-0 ml-md-2 mt-2">
            <div class="font-weight-bold">CONFIRM PASSWORD *:</div>
            <input type="password" class="controller" placeholder="CONFIRM PASSWORD" formControlName="password_confirm"
              (change)="onchangehandler()"
              [class.my-invalid]="form.get('password_confirm').invalid&&form.get('password_confirm').touched||isPassword_confirmFilled==false||isPasswordMatched==false">
          </div>
        </div>
        <div class="w-100 text-center mb-3">
          <mat-error *ngIf="isMissingField ==true">Please complete all fields</mat-error>
          <mat-error *ngIf="isInvalidEmail ==true&&isMissingField ==false">Invald email</mat-error>
          <mat-error *ngIf="isPasswordMatched ==false">Passwords do not match</mat-error>
          <mat-error *ngIf="isSuccessful&&isMissingField ==false&&isInvalidEmail ==false&&isPasswordMatched ==true">{{isCreatedMessage}}</mat-error>
          <mat-error *ngIf="!isSuccessful&&isMissingField ==false&&isInvalidEmail ==false&&isPasswordMatched ==true">{{isCreatedMessage}}</mat-error>
        </div>
        <button class="button-form d-block mt-3" type="submit">CREATE ACCOUNT</button>
        <div class= "mt-2">Full details of your rights in relation to your data are set out in our Privacy notice <a href="#">here.</a></div>
      </form>
    </div>
  </div>
  <div class="column-2 col-12 col-md-5">
    <div class="container">
      <h4>ACCOUNT BENEFITS</h4>
      <div class="mt-3"><span><i class="material-icons">redeem</i></span><span class="ml-2">Quick and easy returns
          portal</span></div>
      <div class="mt-3"><span><i class="material-icons">input</i></span><span class="ml-2">Order tracking &
          history</span></div>
      <div class="mt-3"><span><i class="material-icons">call_to_action</i></span><span class="ml-2">Manage your account
          details</span></div>
    </div>
  </div>
</div>
