<!--- Navigation-->
<!---Carousel-->
<div class ="wrapper">
<div class='container-fluid bg-white d-none d-md-block' id="slider" style="position: relative; width:50%">
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="1500">
    <!-- The slideshow -->
    <div class="carousel-inner text-center">
      <div class="carousel-item active ">
        <p style="font-size:15px">Free Shipping & Return
          <span><a href="#" class="sublink">Shop Now</a></span>
        </p>
      </div>
      <div class="carousel-item">
        <p style="font-size:15px">Sign Up For 20% Off!
          <span><a href="#" class="sublink">Join Now</a></span>
        </p>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="material-icons">
        keyboard_arrow_left
      </i>
    </a>
    <a class="carousel-control-next bg-black text-black" href="#demo" data-slide="next">
      <i class="material-icons bg-black">
        keyboard_arrow_right
      </i>
    </a>
  </div>
</div>
<!--Photo-home-->
<div id="home-image" style="position: relative">
  <img src="assets/images/home.jpg" class='d-none d-md-block mw-100 w-100 mh-100 h-100'>
  <img src="assets/images/fc2.jpg" class='d-block d-md-none mw-100 w-100 mh-100 h-100'>
</div>
<!--jumbotron-menu-->
<div class="jumbotron jumbotron-fluid my-0">

  <div class="row text-center ">
    <div class="my-auto col-12 col-md-3 border-right">
      <h3 class="font-weight-lighter">NEW ARRIVALS </h3>
      <p>Find your favorite Betta here</p>
      <a href='#' class="cus-button ">EXPLORE</a>
    </div>

    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <a href="#" class="cardlink">
        <img src='assets/images/ct1.jpg'>
        <p class="cardtitle">Crowntails</p>
      </a>
    </div>
    <div class="col-12 col-md-3">
      <a href="#" class="cardlink">
        <img src='assets/images/new6.jpg'>
        <p class="cardtitle">Halfmoons</p>
      </a>
    </div>
    <div class="col-12 col-md-3">
      <a href="#" class="cardlink">
        <img src='assets/images/new7.jpg'>
        <p class="cardtitle">Plakats</p>
      </a>
    </div>
  </div>
</div>
</div>
